<div class="container bg-babydark">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="row justify-content-center">
        <div class="col-10 text-center">
        <h3>Your Profile</h3>
        </div>
      </div>
      <div class="row">
        <img src="assets/images/img.jpg" class="profile-img" alt="">
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-10 text-center">
          <p>Admin Name</p>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-10 text-center">
          <p>Admin Email</p>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-10 text-center">
          <p>Admin Password</p>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-10 text-center">
          <p>Address</p>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-10 text-center">
          <a >Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>


